.bgc-dark-gray {
    background-color: #3b4042 !important;
}

.bgc-dark-blue {
    background-color: #18213a !important;
}

.bgc-light-gray {
    background-color: #fafafb !important;
}

.bgc-light-blue {
    background-color: #bbeef4 !important;
}

.bgc-table-blue {
    background-color: #ddebff !important;
}

.bgc-table-yellow {
    background-color: #ffefd2 !important;
}

.bgc-table-green {
    background-color: #d0f8f1 !important;
}
